body {
  background: #185a9d;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  display: block;
  background-color: #008080;
  border: 10px solid black;
  border-bottom: 1px solid black;
  border-radius: 10px;
}

.shutdown {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: -100vh;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: all 0.4s ease;
  color: red;
}
.shutdown {
  font-size: 4em;
}

.show {
  top: 0;
}

#again {
  color: yellowgreen;
}
